/* @CHARSET "UTF-8"; */
body{
margin:0;
padding:0;
line-height:1.6;
latter-spacing:1px;
font-family:Verdana,Helvetica,sans-serif;
font-size:12px;
background-color:ivory;
}

.mainleft{
float:left;
width:48%;
height:400px;
border:groove 3px gray;
}
.mainright{
float:right;
width:48%;
height:400px;
border:groove 3px gray;
}

table{
text-align:center;
margin:0 auto;
width:100%;
/* border: groove 2px black; */
/* table-layout:fixed; */
table-layout:auto;
}
th{
background-color:red;
color:white;
}
td{
back-ground-color:lightpink;
color:black;
}
/* #top{ */
/* /* min-width:30%; */ */
/* /* width:auto !important; */ */
/* width:100px; */
/* margin:30px auto; */
/* border:1px ridge #333; */
/* border-radius:500px; */
/* } */

#top {
	float:clear both;
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

#top .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}
.buy{
width:90px;
height:90px;
display:inline-block;
position:absolute;
top:60px;
left:40%;
}
#top .faceicon img{
	text-align:center;
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

#top .chatting {
  width: 100%;
/*   position:absolute; */
/*   left190px; */
/*   top30px; */
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}



#header{
width:100%;
background-color:#9ff;
height:80px;
/* background-color:black; */
}
#pr{
text-align:center;
/* margin-top:10px; */
text-height:10px;
font-size:25px;

}
#main{
	float: clear both;
min-width:100%;
width:auto !important;
width:100%;
min-height:515px;
height:auto !important;
height:515px;
text-align:center;


}
#footer{
width:100%;
height:80px;
background-color:#9ff;
clear:both;
bottom:0px;


}

#tr2{
border:groove 2px darkgray;
}
.b{
text-align:center;
margin-top:50px;
}

div{
text-align:center;
}

/* submitのボタンのおおきさとカラー */
.sub{
padding:10px;
background-color:skyblue;
}
/* submitのボタンに触れた時の動作 */
.sub:hover{
background-color:pink;
}
/* 画像について（可変性） */
.manager{
min-width:10%;
width:auto !important;
width:10%;
min-height:100px;
height:auto !important;
height:100px;
}

h3{
/* display:inline-block; */
padding-left:3%;
padding-right:3%;
text-align:center;
padding-top:30px;
margin:0;
}